
body {
  font-family: sans-serif;
  margin: 40px;
}

h2, h3, h4 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}


form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}


li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.item-bought {
  text-decoration: line-through;
  color: gray;
}
li {
  margin-bottom: 20px;
}

li span {
  display: block;
  margin-bottom: 5px;
}
